build
build-*
.DS_Store
output/
tests/.out
tests/external
.runtime-tools
.runtime-reports
bin
test/official/
test/custom-sysy2022/
test/temp
test/fuzz
test/cnf
test/cnf_performance
test/client-linux
temp
final_performance
functional
h_functional
performance
node_modules
rank
arm_performance
